<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Autores de esta práctica:</h1>
    <p>María Belén Delgado Domínguez</p>
    <p>Jorge Úbeda Romero</p>
    <img src="/images/labrador.jpg" width="340"/>
  </body>
</html>
